.canvas-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 600px;
    height: 100%;
    border-radius: 10px;
    padding: 0;
    flex:1;

    canvas{
        border-radius: 10px;
        outline: none;
    }


    //UI
    .canvasUI{
        display:none;
        position: absolute;
        background:#fff;
        min-width: 5em;

        &.active{ display: block; }
    }


}